@charset "UTF-8";

* {
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-image: linear-gradient(to right, #EB12C9, #05E8D9);
}
main{
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #eb12cb77;
  width: 600px;
  padding: 10px;
  margin: auto;
}
h1 {
  color: #9C810B;
  text-align: center;
  text-shadow: 1px 1px 2px #9C810B;
}

h2 {
  color:#139C93 ;
}

p {
  text-align: justify;
}